.index2-page {
  background-color: aquamarine;
  //  margin: 1rem;
  //  position: fixed;
  // top: 0px;
  // bottom: 0px;
  // left: 0;
  // right: 0;
  // overflow: hidden;

  display: flex;
 overflow: auto;

}

.index2-page__height-listener {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  // margin:1rem;
  //  z-index: -10;
  background-color: rgba(255, 255, 255, 0);
}



.index2-page__container{
  
  flex-grow:1;
  flex-shrink:1;
  // flex-basis: 5000px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.index2-page__scroll{
  flex: 1;
  flex-direction: column;
  display: flex;
}

.index2-page__image-container {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 1px;
  // width: 133px;
  /* padding-bottom: calc(33.3% - 2px); */
  // height: 133px;
  
}

.index2-page__image-fit{
  align-self: center;
  justify-self: center;
  // width: 500px;
  // height: 500px;
  // max-width: calc (100vw - 2rem);
  // flex:1;
  //object-fit: contain;


}
.index2-page__section{
  // display: flex;
  //  flex-direction: column;
  overflow: hidden;
}
.index2-page__section:nth-child(1) {
	background-color: rgb(173, 255, 255);
}

.index2-page__section:nth-child(2) {
	background-color: rgb(173, 181, 255);
}

.index2-page__section:nth-child(3) {
	background-color: rgb(247, 183, 255);
}

.index2-page__section:nth-child(4) {
	background-color: rgb(255, 187, 187);
}