.expand-section__recieve{
	overflow: hidden;
	transition: height 0.25s ease-in-out;
}

.expand-section__recieve_combo{
	overflow: visible;
}

.expand-section__recieve-inner{
	// padding-left: 1rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.expand-section__recieve-inner_noPaddingBottom{
	// padding-left: 1rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 0px;
}