.index-page {

}

.index-page__navbar-icons {
  display: inline-flex;
  align-content: flex-end;

}
.index-page__link-icon {
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  
}

.index-page__link-icon:last-child {
  padding: 0.5rem ;
  
}