@import "../../styles/fonts.scss";

$base-bg-color: white;
$panels-bg-color: #f8f9fa;
$expand-bg-color: whitesmoke;

$banner-height: 4rem;

$default-font-size: 18px ;

html {
  font-size: $default-font-size;
}

.responsive-index-page__height-listener {
  position: fixed;
  top: 0px;
  bottom: 0px;
  transition:  top 0.15s ease-in-out;
  left: 0;
  right: 0;
  // margin:1rem;
   z-index: -1000;
  // background-color: rgba(130, 214, 149, 0.178);
  // padding: 4rem;
  box-sizing: border-box;
  // border: 4rem solid  rgba(214, 201, 130, 0.178);
}
.responsive-index-page__height-listener_show {
  top: 4rem;
  bottom: 4rem;
  
}

.responsive-index-page__section {
	transition: all 0.25s ease-in-out;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
	padding: 3rem  1rem 3rem 1rem;
}

.responsive-index-page__section_center {
  align-self: center;
  text-align: center;
}

.responsive-index-page__section_citation {
  font-style: italic;
  padding-left: 3rem; 
  padding-right: 3rem;
}

.responsive-index-page__section:last-child {
  margin-bottom: 5rem;
  padding-bottom: 0;
}

.responsive-index-page{
  box-sizing: border-box;
    height: 100vh;
}




.responsive-index-page__header {



  padding-left: 1rem;
  background-color: $panels-bg-color;
  height: $banner-height;

  // position: fixed;
  // top: -4rem;
  // transition: top 0.25s ease-in-out;
  // left: 0;
  // right: 0;
  // box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);

  z-index: 60;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
}
// .responsive-index-page__header_show {
  
//   top:  0;
// }
.responsive-index-page__header-conatiner {
  // max-width: 1440px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $banner-height;
  z-index: 150;
}

.responsive-index-page__header-caption {
  height: $banner-height;
  // padding-left: 1rem;
   position: fixed;
   top:-4rem;
   transition: top 0.25s ease-in-out;
  left: 0;
  right: 0; 
   flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $panels-bg-color;
   box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);

}

.responsive-index-page__header-caption_show {
  top: 0;
}
.responsive-index-page__header-caption-inner {
  font-family: 'PT Serif', serif;
  font-size: 1.3rem;
  font-weight: bold;
 
  flex: 1;

}

.responsive-index-page__buttons-bar {
 
  position: fixed;
  left: 0;
  right: 0; 
  bottom: -4rem;
  transition: bottom 0.25s ease-in-out;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.123);

  height: $banner-height;
  background-color: $panels-bg-color;

  // flex:  0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  z-index: 50;
}

.responsive-index-page__buttons-bar_show {
  bottom: 0;
}

 .responsive-index-page__bar-button {
	color: #ccc;
  // min-height: 4em;
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1em;
  padding-right: 1em;
}

.responsive-index-page__menu-button {
	flex: 0;
	font-size: 1.25rem;
	 padding-left: 1rem;
	 padding-right: 1rem;
	display: flex;
}

.responsive-index-page__menu-authors {

	transition: all 0.25s ease-in-out;
  background-color: whitesmoke;
  
	color: black;

	padding: 0px 0px;

		 // height: calc(-webkit-fill-available - 4rem);
		//  height: calc(100% - 4rem);

	width: 100vw ;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 20;
	position: absolute;
  bottom: 0;
  // flex-wrap: wrap;
}


.responsive-index-page__slide {
	transition: all 0.4s ease-in-out;
	position: fixed;
	overflow: hidden;
	// height: 0;
	top: 4rem;
	left: 0;
	right: 0; 
	bottom: 100vh;
	display:flex;
	flex-direction: column;

	flex: 1;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);
  background-color: whitesmoke;
  z-index:60;
}
.responsive-index-page__slide_visible {
	// height: calc(100% - 4rem);
	bottom: 0;
	z-index: 60;
}


.responsive-index-page__menu-author {
	flex: 0;
	font-size: 1.2rem;
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;
}

.responsive-index-page__menu-author:hover {
	background-color: rgba(0, 0, 0, 0.062);
}

.responsive-index-page__main {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  // max-width: 1440px;
  margin: 0 auto;
}

.responsive-index-page__main {
  margin-top: 0;
}
.responsive-index-page__main_show {
margin-top: 0;

}

.responsive-index-page__carousel-section {
  // min-height: #{calc(100vh - 64px)};
  // max-height: #{calc(100vh - 64px)};
}

.responsive-index-page__main-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}


.responsive-index-page__card-name-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.responsive-index-page__card-name-before {
  overflow: hidden;
  flex: 1;
  max-height: 0px;
}


.responsive-index-page__card-name {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.responsive-index-page__card-bio-photo {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.responsive-index-page__card-bio {
  flex: 1;
  text-align: justify;
}

.responsive-index-page__card-photo {
  overflow: hidden;
  flex: 1;
}

.responsive-index-page__card-photo img {
	width: calc(100vw - 2.1rem);
	height: unset;
}

.responsive-index-page__card-poem  {
  margin: 1.5rem auto 0 auto;
	text-align: left;
}
.responsive-index-page__card-poem-caption  {
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
}

.responsive-index-page__card-poem-epi  {
	padding-left: 2rem;
	font-size: 1.2rem;
	font-style: italic;
}

.responsive-index-page__card-poem-epi-author  {
  padding-left: 3rem;
	font-size: 1.2rem;
	font-style: italic;
	margin-bottom: 1rem;
}


.responsive-index-page__modal-dialog {
	box-sizing: border-box;
	position:fixed;
	top: 0;
	left: 0;
  right: 0;
  bottom: 100vh;

	z-index:150;
	bottom: unset;
	 background-color: white;
	overflow:hidden;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.25s ease-in-out;
}


.responsive-index-page__modal-dialog_visible {
	bottom: 0;

}
.responsive-index-page__modal-dialog-content {
	box-sizing: border-box;
	padding: 1rem;
	display:flex;
	flex-direction: column;
	justify-content: space-between;

}
.responsive-index-page__modal-dialog-text p{
	margin-top: 1rem;
	margin-bottom: 0rem;
}

.responsive-index-page__modal-dialog-text p:first-child{
	margin-top: 0rem;
	margin-bottom: 0rem;
}


.responsive-index-page__modal-dialog-text-wrapper {
	flex: 1;
	box-sizing: border-box;
	display:flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

input {
	outline: none;
	font-family:  sans-serif;
	font-size: 1.2rem;
}


.responsive-index-page__h1{
  font-family: 'PT Serif', serif;
 //font-family: 'Open Sans Condensed', sans-serif;
 font-size: 1.3rem;
 // padding-bottom: 0.8rem;
 font-weight: bold;
}

.responsive-index-page__h2{
 padding-top: 0.8rem;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 1.25rem;
 font-weight: bold;
}

.responsive-index-page__button {
	background-color: rgb(51, 51, 51);
	border: 1px solid black;
	border-radius: 2px;
	color: white;
	height: 2rem;
	resize: none;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
  outline: none;
  align-self: center;

}
.responsive-index-page__button:focus {
		outline: none;
} 


input[type="text"], input[type="submit"] {
  
}

.responsive-index-page__price{
	font-family: 'PT Serif', serif;
 //font-family: 'Open Sans Condensed', sans-serif;
 font-size: 1.3rem;
 padding-bottom: 0.8rem;
 font-weight: bold;
//  text-align: right;
//  padding-right: 3rem;
}
.responsive-index-page__checkbox{
	margin-left: 0px;
	margin-right: 1rem;
}

.responsive-index-page__send-rf-data {
	display: flex;
	flex-direction: column;
}
.responsive-index-page__send-count {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.responsive-index-page__send-rf-data-label {
	font-size: 1.1rem;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
} 

.responsive-index-page__send-comment {
	height: 4.5rem;
	resize: none;
	// margin-bottom: 1rem;
	font-family:  sans-serif;
	font-size: 1rem;

}

@media (orientation: landscape), (pointer: fine), (min-width: 45em)
{
  .responsive-index-page__buttons-bar {
      position: static;
      box-shadow: none;
      
  }

  .responsive-index-page__header-caption {
    position: relative;
    box-shadow: unset;
    top: unset;
  }
  .responsive-index-page__header-caption_show {
   top: unset;
  }
  .responsive-index-page__header {
    position: fixed;
    top: -4rem;
    transition: top 0.25s ease-in-out;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);
  }
  .responsive-index-page__header_show {
    top: 0;
  }

   .responsive-index-page__main {
    // padding-top: $banner-height;
    font-size: 1.4rem;
  }
  .responsive-index-page__card-photo img {
    width: 100%;
    height: unset;
  }

  .responsive-index-page__card-bio-photo {
    flex-direction: row;
  }
 
  .responsive-index-page__card-bio {
    flex: 2.5;
    padding-left: 1.5rem;
    margin-top: -0.6rem;
  }

  .responsive-index-page__card-name-container {
    flex-direction: row;
  }

  .responsive-index-page__card-name-before {
    max-height: unset;
  }

  .responsive-index-page__card-name {
    flex: 2.5;
    padding-left: 1.5rem;
    margin-top: -0.6rem;
  }

}

//ipad
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .responsive-index-page__header {
    position: fixed;
    top: 0;
  }

  .responsive-index-page__height-listener {
    top: 4rem;
    bottom: 0px;
  }
  .responsive-index-page__height-listener_show {
    top: 4rem;
    bottom: 0rem;
  }
  .responsive-index-page__main{
    padding-top: 0;
    margin-top: 4rem;
  }
  .responsive-index-page__main_show{
    padding-top: 0;
    margin-top: 4rem;
  }
}

//comp
@media only screen 
and (min-device-width : 1025px) 
and (orientation : landscape)
{

  .responsive-index-page__header-caption {
    flex: 0;
  }
  .responsive-index-page__header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20vw;
    left:0;
    height: 100vh;
    flex-direction: column;
  }

  .responsive-index-page__header-conatiner {
    position: relative;
    top: unset;
    bottom: unset;
    width: unset;
    flex-direction: column;
    // height: 100vh;
  }


  .responsive-index-page__height-listener {
    top: 0px;
    bottom: 0px;
    left:  20.1vw ;
  }
  .responsive-index-page__height-listener_show {
    top: 0rem;
    bottom: 0rem;
  }

  .responsive-index-page__main {
    margin-left: 20.1vw ;
    margin-top: 0;
    padding-top: 0;    // flex: 1;
  }
  .responsive-index-page__main_show {
    margin-top: 0;
    padding-top: 0;
    // flex: 1;
  }


  .responsive-index-page{
      // flex-direction: row;
  }
  
  .responsive-index-page__slide {
    transition: none;
    position: relative;
    overflow: hidden;
    height: unset;
    top: unset;
    left: unset;
    right: unset; 
    bottom: unset;
    display:flex;
    flex-direction: column;
  
    flex: 1;
    box-shadow: none;
    background-color: unset;
    z-index: 20;
  }
  .responsive-index-page__slide_visible {
    height: unset;
      
    z-index: 20;
  }
  
  .responsive-index-page__menu-authors {


    background-color: unset;
    color: black;
  
    position: relative;
    bottom: 0;
    // top: 0;
    padding: 0px 0px;
  
  
    width: unset ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 20;
    flex-wrap: wrap;
  }
  
  .responsive-index-page__menu-button {
    display:none;
  }
  .responsive-index-page__header-caption-inner {
    margin-top: 1rem;
  }
  .responsive-index-page__bar-button {
    
  }

  .responsive-index-page__header {
     padding-left: 0;
  }

  .responsive-index-page__button {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: max-content;
  } 

}