@import "../../styles/fonts.scss";

$base-bg-color: white;
$panels-bg-color: #f8f9fa;
$expand-bg-color: whitesmoke;

$banner-height: 4rem;

$default-font-size: 18px ;

html {
  font-size: $default-font-size;
}

.responsive-index-page{
  
}


.responsive-index-page__header {
  padding-left: 1rem;
  background-color: $panels-bg-color;
  height: $banner-height;

  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);

  z-index: 50;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
}

.responsive-index-page__header-conatiner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $banner-height;
}

.responsive-index-page__header-caption {
  height: $banner-height;
  padding-left: 1rem;
  // position: fixed;
  left: 0;
  right: 0; 
  // flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $panels-bg-color;
  // box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);

}
.responsive-index-page__header-caption-inner {
  font-family: 'PT Serif', serif;
  font-size: 1.3rem;
  font-weight: bold;
 
  flex: 1;

}

.responsive-index-page__buttons-bar {
  height: $banner-height;
  background-color: $panels-bg-color;

  flex:  0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  // position: fixed;
  // position: static;
  left: 0;
  right: 0; 
  bottom: 0;
  // box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.123);
}

 .responsive-index-page__bar-button {
	color: #ccc;
  // min-height: 4em;
	flex: 1 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1em;
  padding-right: 1em;
}


.responsive-index-page__main {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.responsive-index-page__carousel-section {
  // min-height: #{calc(100vh - 64px)};
  // max-height: #{calc(100vh - 64px)};
}

.responsive-index-page__main-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}


.responsive-index-page__card-name-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.responsive-index-page__card-name-before {
  overflow: hidden;
  flex: 1;
  max-height: 0px;
}


.responsive-index-page__card-name {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.responsive-index-page__card-bio-photo {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.responsive-index-page__card-bio {
  flex: 1;
  text-align: justify;
}

.responsive-index-page__card-photo {
  overflow: hidden;
  flex: 1;
}

.responsive-index-page__card-photo img {
	width: calc(100vw - 2.1rem);
	height: unset;
}

.responsive-index-page__card-poem  {
  margin: 1.5rem auto 0 auto;
	text-align: left;
}
.responsive-index-page__card-poem-caption  {
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
}

.responsive-index-page__card-poem-epi  {
	padding-left: 2rem;
	font-size: 1.2rem;
	font-style: italic;
}

.responsive-index-page__card-poem-epi-author  {
  padding-left: 3rem;
	font-size: 1.2rem;
	font-style: italic;
	margin-bottom: 1rem;
}

@media (orientation: landscape), (pointer: fine), (min-width: 45em)
{
  // .responsive-index-page__buttons-bar {
  //     position: static;
  //     box-shadow: none;
  // }

  // .responsive-index-page__header-caption {
  //   position: relative;
  //   box-shadow: unset;
  // }
  // .responsive-index-page__header {
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);
  // }

   .responsive-index-page__main {
    // padding-top: $banner-height;
    font-size: 1.4rem;
  }
  .responsive-index-page__card-photo img {
    width: 100%;
    height: unset;
  }

  .responsive-index-page__card-bio-photo {
    flex-direction: row;
  }
 
  .responsive-index-page__card-bio {
    flex: 2.5;
    padding-left: 1.5rem;
    margin-top: -0.6rem;
  }

  .responsive-index-page__card-name-container {
    flex-direction: row;
  }

  .responsive-index-page__card-name-before {
    max-height: unset;
  }

  .responsive-index-page__card-name {
    flex: 2.5;
    padding-left: 1.5rem;
    margin-top: -0.6rem;
  }

}