
@import "../../styles/fonts.scss";

.index-simple-page_showAuthorList{
	
}

.index-simple-page__height-listener {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  // margin:1rem;
   z-index: -10;
  background-color: rgba(255, 255, 255, 0);
}

.index-simple-page__top-section {
	width: 100vw;
	position:relative;
	// border:1px dashed red;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden
}

.index-simple-page__image {
	flex-shrink:0;
	min-width:100%;
	min-height:100%
}


.index-simple-page__main {
 /* padding: 1em; */
	  padding-bottom: 4rem;
	  padding-top: 4rem;
}



.index-simple-page__brand {

	display: flex;
  min-height: 4rem;
  align-items: center;
	flex: 1 0 auto;
	
	justify-content: space-between;

  padding-left: 1em;
  /* padding-right: 1em; */



	background-color:#f8f9fa !important;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);
	color: black;
	font-family: 'PT Serif', serif;
	font-size: 1.25rem;
	font-weight: bold;
	z-index: 50;

	position: fixed;
  left: 0;
  right: 0; 
}

.index-simple-page__menu-authors {

	transition: all 0.25s ease-in-out;
	background-color: whitesmoke;
	color: black;

	position: relative;
	bottom: 0;
  // top: 0;
	padding: 0px 0px;

		 // height: calc(-webkit-fill-available - 4rem);
		//  height: calc(100% - 4rem);

	width: 100vw ;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 175;
	position: absolute;
	bottom: 0;
}


.index-simple-page__slide {
	transition: all 0.4s ease-in-out;
	position: fixed;
	overflow: hidden;
	height: 0;
	top: 4rem;
	left: 0;
	right: 0; 
	bottom: 0;
	display:flex;
	flex-direction: column;

	flex: 1;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.123);
	background-color: whitesmoke;
}
.index-simple-page__slide_visible {
	height: calc(100% - 4rem);
		
	z-index: 25;
}


.index-simple-page__menu-author {
	flex: 0;
	font-size: 1.25rem;
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;
}

.index-simple-page__menu-author:hover {
	background-color: rgba(0, 0, 0, 0.137);

}

.index-simple-page__menu-button {
	flex: 0;
	font-size: 1.25rem;
	padding-left: 0.5em;
	padding-right: 1.5em;
	display: flex;
}

.index-simple-page__menu-button_pressed {
	 /* background-color: whitesmoke; */
}

.index-simple-page__section {
	transition: all 0.25s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}
.index-simple-page__section-inner {

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex: 1;

}

// .index-simple-page__section:nth-child(1) {
// 	background-color: rgb(173, 255, 255);
// }

// .index-simple-page__section:nth-child(2) {
// 	background-color: rgb(173, 181, 255);
// }

// .index-simple-page__section:nth-child(3) {
// 	background-color: rgb(247, 183, 255);
// }

// .index-simple-page__section:nth-child(4) {
// 	background-color: rgb(255, 187, 187);
// }

// .index-simple-page__section:nth-child(5) {
// 	background-color: rgb(255, 224, 177);
// }

.index-simple-page__section p {
	margin-top: 1rem;
	margin-bottom: 0rem;
}

.index-simple-page__section p:last-child {
	margin-bottom: 1rem;
}

.index-simple-page__section h2 {
	margin-top: 1rem;
	margin-bottom: 0rem;
	font-size: 1.5em;
	margin-block-start: 0;
	margin-block-end: 0;	
}

.index-simple-page__section h2:last-child {
	margin-bottom: 1rem;
}

.index-simple-page__card-bio-photo {
	flex-wrap: wrap;
}

.index-simple-page__section img {
	
	width: calc(100vw - 2.1rem);
	
}

.index-simple-page__poem-caption  {
	text-align: left;
}

.index-simple-page__poem-epi  {
	padding-left: 2rem;
	font-size: 1.2rem;
	font-style: italic;
}

/* Defuault styles:
width: narrow,
orientation: portrait, 
update: slow,
scan: interlace,
monochrome: 1,
pointer: coarse, 
hover: none
*/

/* Positions the navbar at the bottom for easy thumb access on small devices with portrait orientation */ 
h1, nav{
  position: fixed;
  left: 0;
  right: 0; 
}

nav {	box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.123);}

/* Creates large touch areas for finguers (coarse) */
li a {
  min-height: 4em;
}



/* Mobile first: Accomodates the brand name on the left and the navigation on the right and it wraps without the need of width media queries */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Center aligns the brand name */
h1 {
  display: flex;
  min-height: 2.5em;
  align-items: center;
  flex: 1 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

/* Flex items to make them streach */
nav {
  bottom: 0;
  display: flex;
  flex: 1 0 auto;
}

ul, li, li a {
 display: flex;
 flex: 1;
}

li a {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;

}

li:first-child a {
  border: none;
}



/* General make up: colors, fonts, etc */
html, body, .index-simple-page { box-sizing:  border-box; height: 100vh; }
body { font-family: sans-serif; line-height: 1.5; }
 header { 

	background-color: white;

	  color: white; 
	}
nav { 

	background-color: white;
	min-height: 4rem;

}
h1 { background: #030303; font-weight: bold;  margin: 0; padding: 0}
ul {margin-block-start: 0; margin-block-end: 0; padding-inline-start: 0;}
li a { color: #ccc; }
li a:hover { background: #393f44; color: white }
h2, p { margin-bottom: 1em; }
h2 {font-weight: 700; }